:root {
  --color-primary: #6251a6;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #e8deff;
  --color-onPrimaryContainer: #1d0060;
  --color-secondary: #605b71;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #e6dff8;
  --color-onSecondaryContainer: #1d192c;
  --color-tertiary: #7d5263;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffd9e7;
  --color-onTertiaryContainer: #30111f;
  --color-error: #ba1b1b;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad4;
  --color-onErrorContainer: #410001;
  --color-background: #fffbff;
  --color-onBackground: #1c1b1e;
  --color-surface: #fffbff;
  --color-onSurface: #1c1b1e;
  --color-surfaceVariant: #e6e0ec;
  --color-onSurfaceVariant: #48454f;
  --color-outline: #79767f;
  --color-shadow: #000000;
  --color-inverseSurface: #313033;
  --color-inverseOnSurface: #f4eff4;
  --color-inversePrimary: #cdbeff;
  --color-surface: #fffbff;
  --color-surface1: #f6f1fa;
  --color-surface2: #f0ecf8;
  --color-surface3: #ebe7f5;
  --color-surface4: #eae5f4;
  --color-surface5: #e6e2f3;

  --border-radius: 8px;
  --color-separator: rgba(0, 0, 0, 0.109);
  font-family: "Roboto", sans-serif;
  color: var(--color-onSurfaceVariant);
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
}

* {
  margin: 0;
  padding: 0;
}

.text-bold {
  font-weight: 700;
  color: var(--color-onSurface);
}

.heading-1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-onSurface);
}

.heading-2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-onSurface);
}

.heading-3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-onSurface);
}

.heading-4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-onSurface);
}

.text-small {
  font-size: 0.8rem;
}

.text-normal {
  font-size: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main {
  display: flex;
  /* grid-template-columns: 5fr 1fr; */
  background-color: var(--color-surface1);
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.header {
  /* grid-column: 2/3; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr 2fr; */
  /* grid-template-columns: 5fr 2fr; */
  padding: 10px 20px;
  gap: 20px;
  background-color: var(--color-surface5);
  border-bottom: 1px solid var(--color-separator);
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header .search,
.header .current-user-banner,
.header .user-profile,
.header .user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .current-user-banner,
.header .search {
  flex: 1;
}

.header .user-profile,
.header .user-actions {
  justify-content: end;
}

.header .user-actions button {
  border-radius: 50px;
  background-color: var(--color-primary);
  border: 0;
  padding: 5px 30px;
  color: var(--color-onPrimary);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-section > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-section li {
  padding: 5px 10px;
}

.sidebar-section li.active,
.sidebar-section li:hover.active {
  background-color: var(--color-tertiaryContainer);
  color: var(--color-onTertiaryContainer);
  border-radius: var(--border-radius);
  font-weight: 700;
}

.sidebar-section li:hover {
  background-color: var(--color-secondaryContainer);
  border-radius: var(--border-radius);
}

.header a,
.sidebar a,
.project-actions a,
footer a {
  text-decoration: none;
  color: inherit;
}

.project-actions {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-top: 20px;
}

/* .header > * {
  outline: 1px solid blue;
  padding: 2px;
} */

.sidebar {
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 10px;
  background-color: var(--color-surface);
  color: var(--color-onSurfaceVariant);
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  gap: 35px;
  border-right: 1px solid var(--color-separator);
}

.brand-area {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  color: var(--color-primary);
}

.brand-area .title {
  color: var(--color-primary);
}

.user-pic-big {
  height: 50px;
  width: 50px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  flex-shrink: 0;
}

.logo > * {
  /* transform: scale(150%); */
  margin-top: 5px;
}

.user-pic-medium {
  height: 35px;
  width: 35px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

/* .content > * {
  outline: 1px solid red;
} */

.left-content {
  /* border: 1px solid salmon; */
  flex: 6;
}

.right-content {
  /* border: 1px solid fuchsia; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-content: start;
  flex: 0 1 250px;
  /* min-width: 20px; */
}

.announcements-grid {
  display: grid;
  gap: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: var(--color-surface);
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.023); */
  border-radius: var(--border-radius);
  padding: 20px;
  outline: 1px solid var(--color-separator);
}

.project-info-grid {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(
    90deg,
    var(--color-primary) 6px,
    var(--color-surface) 6px
  );
  grid-template-rows: auto 4fr auto;
}

.grid-title {
  margin-bottom: 8px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--color-separator);
}

.trending-project {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  background-color: var(--color-surface);
  width: 80%;
  border: 0;
  border-radius: 50px;
  height: 30px;
  border: 2px solid var(--color-surface);
  padding: 0 10px;
}

.search-bar:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}

/* .card > * {
  outline: 1px solid green;
} */

footer {
  display: flex;
  grid-column: 2/3;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface1);
}
